@import url(menu.css);
.tab-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.tab-content div{
    margin-bottom: 30px;
    line-height: 1.3em;
}
.title{
    font-size: 2em;
    text-align: center;
}
.contents{
    font-size: 1.5em;
    text-align: center;
}

.fixed{
    color: var(--text-clr);
    font-size: 1.2em;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}